/* You can add global styles to this file, and also import other style files */
body, html {
    height: 100vh;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif !important;
    font-size: 1.25em;
}

.font-dark {
    color: #444;
}
.font-darker {
    color: #333;
}
.font-darkest {
    color: #222;
    
}

.font-large {
    font-size: 2.5em;
}
.font-medium {
    font-size: 1.25em;
}
.font-normal {
    font-size: 1em;
}
.font-small {
    font-size: 0.75em;
}

.section {
    width: 100%;
    overflow: hidden;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    background-size: cover;
    background-position: center;
    min-height: 500px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    border-bottom: solid 2px #ddd;
}
.section .vertical {
    flex-direction: row;
}
.section .horizontal {
    flex-direction: column;
}
.section:nth-child(odd) {
    background-color: #f5f7f9;
}
.section:nth-child(even) {
    background-color: #eaecee;
}


.fullsc {
    height: 100vh;
}
.halfsc {
    height: 50vh;
}
.thirdsc {
    height: 33.333vh;
}
.quartersc {
    height: 25vh;
}


.parallax {
    background-repeat: no-repat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-position: center;
}


@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}